Repository dooboolab/hackatalk, pull requests merged in 2020-11, with the labels that each got.

#289 Update packages
  server/package.json
  server/tests/integration/setup/testServer.ts
  server/yarn.lock
Labels: server, update packages

#290 Update packages client
  client/jest.config.js
  client/package.json
  client/src/__generated__/ChannelComponent_channel.graphql.ts
  client/src/__generated__/Channels.graphql.ts
  client/src/__generated__/MessageComponent_message.graphql.ts
  client/src/__generated__/MessagePaginationQuery.graphql.ts
  client/src/__generated__/ProfileUpdateMeQuery.graphql.ts
  client/src/components/navigation/__tests__/__snapshots__/AuthStackNavigator.test.tsx.snap
  client/src/components/navigation/__tests__/__snapshots__/RootStackNavigator.test.tsx.snap
  client/src/components/screen/Channel.tsx
  client/src/components/screen/Friend.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/screen/SignIn.tsx
  client/src/components/screen/SignUp.tsx
  client/src/components/screen/VerifyEmail.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/src/relay/fetch.ts
  client/src/types/graphql.ts
  client/yarn.lock
Labels: client, migration, update packages

#291 Impl on image messageType in [Message] screen
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/src/__generated__/MessageCreateMutation.graphql.ts
  client/src/apis/upload.ts
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/GiftedChat.tsx
  client/src/components/shared/MessageListItem.tsx
Labels: client, feature

#293 Add ability to create private channel with multiple users
  server/src/resolvers/Channel/mutation.ts
  server/tests/e2e/resolvers/channel.test.ts
  server/tests/e2e/setup/queries/Channel.ts
Labels: enhancement, server

#294 Navigate to [Message] screen with user interaction on notification
  client/app.config.js
  client/src/__generated__/MainStackNavigatorChannelQuery.graphql.ts
  client/src/components/navigation/MainStackNavigator.tsx
Labels: enhancement

#296 Bugfixes on Apple's review
  client/app.config.js
  client/src/components/shared/ProfileModal.tsx
Labels: bugfix, client, ios

#299 Fix Apple signs resolvers and client queries
  client/src/__generated__/SignInAppleMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonFacebookSignInMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonGoogleSignInMutation.graphql.ts
  client/src/components/screen/SignIn.tsx
  client/src/components/screen/__tests__/SignIn.test.tsx
  client/src/components/shared/SocialSignInButton.tsx
  server/src/resolvers/User/mutation.ts
  server/src/utils/auth.ts
Labels: bugfix, review

#300 Update packages and clean codes
  client/.ncurc.json
  client/app.config.js
  client/package.json
  client/src/App.tsx
  client/src/__generated__/AppUserQuery.graphql.ts
  client/src/components/screen/LicenseAgreement.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/screen/__tests__/ProfileUpdate.test.tsx
  client/src/relay/index.ts
  client/src/relay/util.ts
  client/src/types/graphql.ts
  client/yarn.lock
Labels: enhancement, update packages

#301 Enhance Apple Sign in reliability
  client/app.config.js
  client/package.json
  client/schema.graphql
  client/src/__generated__/ProfileUpdateSingleUploadMutation.graphql.ts
  client/src/__generated__/SignInAppleMutation.graphql.ts
  client/src/__generated__/SignInEmailMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonFacebookSignInMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonGoogleSignInMutation.graphql.ts
  client/src/components/screen/Settings.tsx
  client/src/components/screen/SignIn.tsx
  client/src/components/screen/__tests__/Settings.test.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/yarn.lock
  server/dotenv/dev.env
  server/dotenv/test.env
  server/src/resolvers/User/mutation.ts
  server/src/services/UserService.ts
  server/src/utils/auth.ts
  server/tests/e2e/resolvers/User/mutation/signInWithApple.test.ts
Labels: enhancement

#302 Refactor social signings and ui enhancement
  client/.env.sample
  client/README.md
  client/app.config.js
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/config.ts
  client/src/App.tsx
  client/src/components/navigation/RootStackNavigator.tsx
  client/src/components/screen/Channel.tsx
  client/src/components/screen/ChannelCreate.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/SignIn.tsx
  client/src/components/screen/__tests__/BlockedUser.test.tsx
  client/src/components/screen/__tests__/LicenseAgreement.test.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/ErrorView.tsx
  client/src/components/shared/GiftedChat.tsx
  client/src/components/shared/MessageListItem.tsx
  client/src/components/shared/ProfileModal.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/src/providers/ProfileModalProvider.tsx
  client/src/utils/noti.ts
  client/test/jestSetup.ts
  server/src/apis/root.ts
  server/src/utils/azure.ts
Labels: client, enhancement, refactor

#303 Image Slider
  .gitignore
  client/src/components/navigation/RootStackNavigator.tsx
  client/src/components/navigation/__tests__/__snapshots__/RootStackNavigator.test.tsx.snap
  client/src/components/screen/ImageSlider.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/__tests__/ImageSlider.test.tsx
  client/src/components/shared/MessageListItem.tsx
  client/src/components/shared/PinchZoom.tsx
Labels: feature

#305 Install sentry to solve unknown issue in iOS testflight ver
  client/.env.sample
  client/App.tsx
  client/app.config.js
  client/jest.config.js
  client/src/App.tsx
  client/src/components/navigation/AuthStackNavigator.tsx
  client/src/components/navigation/RootStackNavigator.tsx
  client/src/components/screen/Channel.tsx
  client/src/components/screen/Message.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/yarn.lock
Labels: client, integration

#306 Init migration
  server/package.json
  server/prisma/migrations/20200816135927-init/schema.prisma
  server/prisma/migrations/20200817055843-membership-visible/README.md
  server/prisma/migrations/20200817055843-membership-visible/schema.prisma
  server/prisma/migrations/20200817055843-membership-visible/steps.json
  server/prisma/migrations/20200823053755-token-unique/README.md
  server/prisma/migrations/20200823053755-token-unique/schema.prisma
  server/prisma/migrations/20200823053755-token-unique/steps.json
  server/prisma/migrations/20201002065104-channel-last-message-id/README.md
  server/prisma/migrations/20201002065104-channel-last-message-id/schema.prisma
  server/prisma/migrations/20201002065104-channel-last-message-id/steps.json
  server/prisma/migrations/20201109131631-blocked-users/README.md
  server/prisma/migrations/20201109131631-blocked-users/schema.prisma
  server/prisma/migrations/20201109131631-blocked-users/steps.json
  server/prisma/migrations/20201109174809-report/README.md
  server/prisma/migrations/20201109174809-report/steps.json
  server/prisma/migrations/20201120070839-init/README.md
  server/prisma/migrations/20201120070839-init/schema.prisma
  server/prisma/migrations/20201120070839-init/steps.json
  server/prisma/migrations/migrate.lock
  server/tests/e2e/setup/queries/Channel.ts
  server/yarn.lock
Labels: migration, server

#307 Graphql typings temporary fixes & Clean codes
  client/.eslintignore
  client/schema.graphql
  client/src/App.tsx
  client/src/__generated__/ChannelCreateFindOrCreatePrivateChannelMutation.graphql.ts
  client/src/__generated__/ProfileModalFindOrCreatePrivateChannelMutation.graphql.ts
  client/src/components/navigation/AuthStackNavigator.tsx
  client/src/components/navigation/RootStackNavigator.tsx
  client/src/components/screen/ChangePw.tsx
  client/src/components/screen/ChannelCreate.tsx
  client/src/components/screen/ImageSlider.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/screen/SearchUser.tsx
  client/src/components/screen/Settings.tsx
  client/src/components/screen/SignIn.tsx
  client/src/components/screen/SignUp.tsx
  client/src/components/screen/__tests__/ImageSlider.test.tsx
  client/src/components/shared/MessageListItem.tsx
  client/src/components/shared/ProfileModal.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/utils/common.ts
  client/src/utils/noti.ts
  server/src/models/AuthPayload.ts
Labels: client, relay, typings

#308 Fix impedence mistach on graphql types
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/codegen.yml
  client/package.json
  client/schema.graphql
  client/src/__generated__/BlockedUsersQuery.graphql.ts
  client/src/__generated__/ChangePwChangeEmailPasswordMutation.graphql.ts
  client/src/__generated__/ChannelComponent_channel.graphql.ts
  client/src/__generated__/ChannelCreate_friends.graphql.ts
  client/src/__generated__/ChannelLastMessageQuery.graphql.ts
  client/src/__generated__/Friend_friends.graphql.ts
  client/src/__generated__/MainStackNavigatorChannelQuery.graphql.ts
  client/src/__generated__/MessageComponent_message.graphql.ts
  client/src/__generated__/MessageCreateMutation.graphql.ts
  client/src/__generated__/ProfileModalDeleteFriendMutation.graphql.ts
  client/src/__generated__/ProfileUpdateMutation.graphql.ts
  client/src/__generated__/SearchUserComponent_user.graphql.ts
  client/src/__generated__/SettingsDeleteNotificationMutation.graphql.ts
  client/src/__generated__/SignUpSendVerificationMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonGoogleSignInMutation.graphql.ts
  client/src/__generated__/VerifyEmailMutation.graphql.ts
  client/src/components/screen/ChannelCreate.tsx
  client/src/components/screen/FindPw.tsx
  client/src/components/screen/Friend.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/screen/SearchUser.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/MessageListItem.tsx
  client/src/types/graphql.ts
  client/yarn.lock
Labels: relay, typings

#309 UI enhancement and localization
  client/App.tsx
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/src/components/navigation/MainTabNavigator.tsx
  client/src/components/screen/ChangePw.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/ProfileUpdate.tsx
  client/src/components/shared/ChannelListItem.tsx
  client/src/components/shared/UserListItem.tsx
  client/src/utils/image.ts
Labels: enhancement, ui

#312 Add google admob to [Channel] header
  client/app.config.js
  client/package.json
  client/src/components/screen/Channel.tsx
  client/yarn.lock
Labels: ads, feature

#319 Fix impedance mismatch on relay typings
  client/schema.graphql
  client/src/__generated__/ChannelComponent_channel.graphql.ts
  client/src/__generated__/ChannelLastMessageQuery.graphql.ts
  client/src/__generated__/MessageComponent_message.graphql.ts
  client/src/__generated__/MessageCreateMutation.graphql.ts
  client/src/__generated__/SocialSignInButtonGoogleSignInMutation.graphql.ts
  client/src/components/navigation/RootStackNavigator.tsx
  client/src/components/screen/Channel.tsx
  client/src/components/screen/ImageSlider.tsx
  client/src/components/screen/Message.tsx
  client/src/components/screen/SignIn.tsx
  client/src/components/shared/SocialSignInButton.tsx
  client/src/types/graphql.ts
  server/src/resolvers/User/mutation.ts
Labels: bugfix, typings

#320 Update packages
  client/package.json
  client/schema.graphql
  client/src/__generated__/BlockedUsersQuery.graphql.ts
  client/src/__generated__/ChannelComponent_channel.graphql.ts
  client/src/__generated__/ChannelCreateFindOrCreatePrivateChannelMutation.graphql.ts
  client/src/__generated__/ChannelCreate_friends.graphql.ts
  client/src/__generated__/Friend_friends.graphql.ts
  client/src/__generated__/MainStackNavigatorChannelQuery.graphql.ts
  client/src/__generated__/MessageCreateMutation.graphql.ts
  client/src/__generated__/ProfileModalAddFriendMutation.graphql.ts
  client/src/__generated__/ProfileModalCreateBlockedUserMutation.graphql.ts
  client/src/__generated__/ProfileModalDeleteBlockedUserMutation.graphql.ts
  client/src/__generated__/ProfileModalFindOrCreatePrivateChannelMutation.graphql.ts
  client/src/__generated__/ReportCreateReportMutation.graphql.ts
  client/src/__generated__/SearchUserComponent_user.graphql.ts
  client/src/__generated__/SettingsDeleteNotificationMutation.graphql.ts
  client/src/__generated__/SignInCreateNotificationMutation.graphql.ts
  client/src/__generated__/SignUpSendVerificationMutation.graphql.ts
  client/src/__generated__/VerifyEmailMutation.graphql.ts
  client/src/components/screen/Channel.tsx
  client/src/components/screen/ChannelCreate.tsx
  client/src/components/screen/Friend.tsx
  client/src/components/screen/Report.tsx
  client/src/components/screen/SignIn.tsx
  client/src/types/graphql.ts
  client/yarn.lock
  server/package.json
  server/src/apis/root.ts
  server/src/models/AuthPayload.ts
  server/src/models/BlockedUser.ts
  server/src/models/Channel.ts
  server/src/models/Friend.ts
  server/src/models/Membership.ts
  server/src/models/Message.ts
  server/src/models/Reply.ts
  server/src/models/Report.ts
  server/src/models/User.ts
  server/src/permissions/index.ts
  server/src/resolvers/BlockedUser/mutation.ts
  server/src/resolvers/BlockedUser/query.ts
  server/src/resolvers/Channel/mutation.ts
  server/src/resolvers/Channel/query.ts
  server/src/resolvers/Friend/mutation.ts
  server/src/resolvers/Friend/query.ts
  server/src/resolvers/Message/mutation.ts
  server/src/resolvers/Message/query.ts
  server/src/resolvers/Notification/mutation.ts
  server/src/resolvers/Notification/query.ts
  server/src/resolvers/Report/mutation.ts
  server/src/resolvers/Report/query.ts
  server/src/resolvers/Upload/mutation.ts
  server/src/resolvers/User/mutation.ts
  server/src/resolvers/User/query.ts
  server/src/resolvers/User/subscription.ts
  server/src/services/ChannelService.ts
  server/yarn.lock
Labels: migration, update packages

#321 Reorganized tests dir to make it concise
  server/jest.config.js
  server/tests/e2e/queries/BlockedUser.ts
  server/tests/e2e/queries/Channel.ts
  server/tests/e2e/queries/Friend.ts
  server/tests/e2e/queries/Message.ts
  server/tests/e2e/queries/Report.ts
  server/tests/e2e/queries/User.ts
  server/tests/e2e/queries/index.ts
  server/tests/e2e/resolvers/User/signInEmail.test.ts
  server/tests/e2e/resolvers/User/signInWithApple.test.ts
  server/tests/e2e/resolvers/User/signInWithFacebook.test.ts
  server/tests/e2e/resolvers/User/signInWithGoogle.test.ts
  server/tests/e2e/resolvers/blockedUser.test.ts
  server/tests/e2e/resolvers/channel.test.ts
  server/tests/e2e/resolvers/friend.test.ts
  server/tests/e2e/resolvers/message.test.ts
  server/tests/e2e/resolvers/report.test.ts
  server/tests/e2e/resolvers/upload.test.ts
  server/tests/e2e/resolvers/user.test.ts
  server/tests/e2e/testSetup.ts
  server/tests/integration/resolvers/User.ts
  server/tests/integration/resolvers/index.ts
  server/tests/integration/testServer.ts
  server/tests/integration/tests/user.test.ts
Labels: refactor, testing
