Repository dooboolab/hackatalk, pull requests merged in 2021-12, with the labels that each got.

#514 Update packages
  client/metro.config.js
  client/package.json
  client/yarn.lock
  server/package.json
  server/src/services/ChannelService.ts
  server/yarn.lock
Labels: 📱 client, ☁️ server, 🗃 update packages

#516 Add refresh token senario on auth
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/package.json
  client/src/App.tsx
  client/src/apis/auth.ts
  client/src/apis/sample.ts
  client/src/components/navigations/MainStackNavigator/LeaveChannelModal.tsx
  client/src/relay/fetch.ts
  client/src/utils/error.tsx
  client/yarn.lock
  server/prisma/migrations/20211218094713_datatype_refresh_token/migration.sql
  server/prisma/schema.prisma
  server/src/apis/root.ts
  server/src/resolvers/User/mutation.ts
  server/src/services/UserService.ts
  server/src/utils/const.ts
  server/src/utils/jwt.ts
Labels: 🍗 enhancement, 📱 client, ☁️ server

#517 Upgrade expo sdk 44
  client/__mocks__/expo-video-thumbnails.ts
  client/__mocks__/react-native-reanimated.ts
  client/app.config.ts
  client/jest.config.js
  client/package.json
  client/src/App.tsx
  client/src/components/navigations/__tests__/__snapshots__/AuthStackNavigator.test.tsx.snap
  client/src/components/pages/__tests__/SignIn.test.tsx
  client/src/components/pages/__tests__/__snapshots__/SignIn.test.tsx.snap
  client/src/components/uis/__tests__/__snapshots__/VideoPlayer.test.tsx.snap
  client/test/jestSetup.js
  client/test/jestSetup.ts
  client/test/testUtils.tsx
  client/webpack.config.js
  client/yarn.lock
Labels: 🚽 migration, 📱 client

#519 Update pkgs - Prisma 3.7.0
  server/package.json
  server/yarn.lock
Labels: ☁️ server, 🗃 update packages

#476 Delete same notification if enter the channel.
  client/src/components/pages/Message.tsx
Labels: 🍗 enhancement
