Repository dooboolab/hackatalk, pull requests merged in 2021-07, with the labels that each got.

#420 Update packages and migration
  server/package.json
  server/prisma/migrations/20210701131023_replies_typo/migration.sql
  server/prisma/schema.prisma
  server/src/models/Channel.ts
  server/src/resolvers/Message/query.ts
  server/src/server.ts
  server/tests/testSetup.ts
  server/yarn.lock
Labels: 🗃 update packages, 🚽 migration, 🧪 test

#422 Update doc on postgres installation
  server/.vscode/settings.json
  server/dotenv/test.env
  server/tests/testSetup.ts
  website/docs/server/installation.md
  website/i18n/ko/docusaurus-plugin-content-docs/current/server/installation.md
  website/package.json
  website/yarn.lock
Labels: 📖 documentation, 🕸 website

#423 Upgrade expo sdk 42
  .circleci/config.yml
  client/app.config.ts
  client/config.ts
  client/jest.config.js
  client/package.json
  client/src/components/navigations/__tests__/ProfileModal.test.tsx
  client/src/components/pages/__tests__/ChangePw.test.tsx
  client/src/components/pages/__tests__/ChannelCreate.test.tsx
  client/src/components/pages/__tests__/FindPw.test.tsx
  client/src/components/pages/__tests__/ImageSlider.test.tsx
  client/src/components/pages/__tests__/LicenseAgreement.test.tsx
  client/src/components/pages/__tests__/MainChannel.test.tsx
  client/src/components/pages/__tests__/Message.test.tsx
  client/src/components/pages/__tests__/Report.test.tsx
  client/src/components/pages/__tests__/Settings.test.tsx
  client/src/components/pages/__tests__/SignIn.test.tsx
  client/src/components/pages/__tests__/SignUp.test.tsx
  client/src/components/pages/__tests__/VerifyEmail.test.tsx
  client/src/components/pages/__tests__/WebView.test.tsx
  client/src/components/uis/PinchZoom.tsx
  client/test/setupTest.ts
  client/test/testUtils.tsx
  client/yarn.lock
  server/tests/testSetup.ts
Labels: 📘 release, 📱 client, 🧪 test

#428 Add additional setup to installation doc
  website/docs/client/installation.md
  website/i18n/ko/docusaurus-plugin-content-docs/current/client/installation.md
Labels: 📖 documentation

#430 Add vscode recommendations
  .gitignore
  client/.gitignore
  client/.vscode/extensions.json
  server/.vscode/extensions.json
Labels: ☁️ server, 💨 ci, 📱 client

#431 Migrate to reanimated v2 for logo animation
  client/.ncurc.json
  client/package.json
  client/src/components/pages/SignIn/index.tsx
  client/test/jestSetup.ts
  client/yarn.lock
Labels: 📱 client, 🚽 migration

#421 Fix server .env filename for prisma migration and docker
  server/Dockerfile
  server/package.json
Labels: 🍗 enhancement

#435 fix: Fix DATABASE_URL is incorrect
  website/docs/server/installation.md
Labels: 🕸 website, 🥢 typo

#439 Add `APPLE_CLIENT_ID` to environment variable
  server/dotenv/test.env
Labels: ☁️ server, 🔥 hotfix

#441 Fix logo touchable
  client/src/components/pages/SignIn/index.tsx
Labels: 🍗 enhancement, 🛠 bugfix
