Repository dooboolab/hackatalk, pull requests merged in 2021-05, with the labels that each got.

#379 Fix the Friend Issue in Relay Store
  client/schema.graphql
  client/src/__generated__/FriendAddMutation.graphql.ts
  client/src/__generated__/FriendDeleteMutation.graphql.ts
  client/src/__generated__/FriendFriendsPaginationQuery.graphql.ts
  client/src/__generated__/FriendsQuery.graphql.ts
  client/src/__generated__/MainStackNavigatorOnMessageSubscription.graphql.ts
  client/src/__generated__/MessageListItemTestQuery.graphql.ts
  client/src/__generated__/MessagePaginationQuery.graphql.ts
  client/src/__generated__/MessagesQuery.graphql.ts
  client/src/__generated__/ProfileModalTestQuery.graphql.ts
  client/src/__generated__/ProfileModal_user.graphql.ts
  client/src/__generated__/SearchUsersQuery.graphql.ts
  client/src/__generated__/UserBlockedUsersQuery.graphql.ts
  client/src/__generated__/UserSignUpMutation.graphql.ts
  client/src/__generated__/UserUsersPaginationQuery.graphql.ts
  client/src/components/navigations/MainStackNavigator/ProfileModal.tsx
  client/src/components/navigations/__tests__/ProfileModal.test.tsx
  client/src/components/pages/BlockedUser.tsx
  client/src/components/pages/MainFriend.tsx
  client/src/components/pages/SearchUser.tsx
  client/src/providers/ProfileModalProvider.tsx
  client/src/relay/queries/Friend.tsx
  client/src/types/graphql.tsx
  server/src/models/User.ts
Labels: 🛠 bugfix

#381 [Migration] React Navigation V6
  client/package.json
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/navigations/MainTabNavigator.tsx
  client/src/components/pages/SearchUser.tsx
  client/src/utils/ImagePicker.ts
  client/src/utils/__tests__/ImagePicker.test.ts
  client/test/testUtils.tsx
  client/yarn.lock
Labels: 📱 client, 🚽 migration

#383 Update server workflow
  .circleci/config.yml
  .github/workflows/deploy-server.yml
  README.md
  server/.gitignore
  server/README.md
  server/dotenv/dev.env
  server/package.json
  server/src/apis/root.ts
  server/src/resolvers/Upload/mutation.ts
  server/src/resolvers/User/mutation.ts
  server/src/utils/auth.ts
  server/src/utils/pagination.ts
  server/tsconfig.json
  server/yarn.lock
Labels: ☁️ server, 👣 workflow

#384 Add document website
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci-website.yml
  .github/workflows/deploy-website.yml
  website/.dockerignore
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/blog/2019-12-07-dooboo-cli.md
  website/blog/2019-12-08-react-navigation-v5.md
  website/blog/2020-06-19-prisma2-migration.md
  website/blog/2020-06-24-integrate-relay.md
  website/blog/2020-07-12-setup-postgresql-prisma2.md
  website/docs/client/components.md
  website/docs/client/installation.md
  website/docs/client/integrate-with-backend.md
  website/docs/client/overview.md
  website/docs/client/search-users.md
  website/docs/client/start-direct-messaging.md
  website/docs/development/authentication.md
  website/docs/development/design.md
  website/docs/development/features.md
  website/docs/development/pagination.md
  website/docs/development/stackshare.md
  website/docs/postgres/description.md
  website/docs/postgres/pgcli.md
  website/docs/postgres/shell.md
  website/docs/server/channel.md
  website/docs/server/membership.md
  website/docs/server/message.md
  website/docs/server/overview.md
  website/docs/server/specification.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/index.tsx
  website/src/pages/styles.module.css
  website/src/types.d.ts
  website/static/CNAME
  website/static/diagrams/client_index.drawio.svg
  website/static/diagrams/client_src_app.drawio.svg
  website/static/diagrams/server_overview.drawio.svg
  website/static/diagrams/server_specification.drawio.svg
  website/static/img/favicon.ico
  website/static/img/logo.png
  website/static/img/svg_hackatalk1.svg
  website/static/img/svg_hackatalk2.svg
  website/static/img/svg_hackatalk3.svg
  website/tsconfig.json
  website/website/i18n/en.json
  website/website/yarn.lock
  website/yarn.lock
Labels: 💨 ci, 📖 documentation, 🕸 website, 🚚 deploy

#385 [Bugfix] Backward message pagination
  .circleci/config.yml
  client/package.json
  client/src/App.tsx
  client/src/__generated__/MessageComponent_message.graphql.ts
  client/src/__generated__/MessagePaginationQuery.graphql.ts
  client/src/__generated__/MessagesQuery.graphql.ts
  client/src/components/navigations/AuthStackNavigator.tsx
  client/src/components/navigations/MainStackNavigator/ProfileModal.tsx
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/navigations/MainTabNavigator.tsx
  client/src/components/navigations/RootStackNavigator.tsx
  client/src/components/navigations/__tests__/ProfileModal.test.tsx
  client/src/components/pages/BlockedUser.tsx
  client/src/components/pages/ChangePw.tsx
  client/src/components/pages/ChannelCreate.tsx
  client/src/components/pages/FindPw.tsx
  client/src/components/pages/MainChannel.tsx
  client/src/components/pages/MainFriend.tsx
  client/src/components/pages/Message.tsx
  client/src/components/pages/ProfileUpdate.tsx
  client/src/components/pages/Report.tsx
  client/src/components/pages/SearchUser.tsx
  client/src/components/pages/Settings.tsx
  client/src/components/pages/SignIn/SocialSignInButton.tsx
  client/src/components/pages/SignIn/index.tsx
  client/src/components/pages/SignUp.tsx
  client/src/components/pages/VerifyEmail.tsx
  client/src/components/pages/__tests__/ImageSlider.test.tsx
  client/src/components/pages/__tests__/SignUp.test.tsx
  client/src/components/uis/MessageListItem.tsx
  client/src/components/uis/PinchZoom.tsx
  client/src/components/uis/UserListItem.tsx
  client/src/components/uis/__tests__/MessageListItem.test.tsx
  client/src/components/uis/__tests__/UserListItem.test.tsx
  client/src/providers/AuthProvider.tsx
  client/src/relay/queries/Message.tsx
  client/src/relay/util.ts
  client/src/utils/ImagePicker.ts
  client/src/utils/common.ts
  client/test/testUtils.tsx
  client/yarn.lock
Labels: dependencies, 📱 client, 🛠 bugfix

#386 Make website documentation up-to-date
  CONTRIBUTING.md
  server/README.md
  website/docs/development/stackshare.md
  website/docs/postgres/description.md
  website/docs/postgres/pgcli.md
  website/docs/postgres/shell.md
  website/docs/server/message.md
  website/sidebars.js
  website/static/img/running_expo.gif
  website/static/img/running_project.png
Labels: 📖 documentation, 🕸 website

#389 Add `NSUserTrackingUsageDescription` for tracking ads
  .github/workflows/ci-website.yml
  client/app.config.ts
  client/src/components/navigations/MainStackNavigator/index.tsx
Labels: 🍗 enhancement, 📘 release, 📱 iOS

#390 Bugfix in when entering Create Channel page
  client/package.json
  client/src/__generated__/ChannelCreateFriendsPaginationQuery.graphql.ts
  client/src/__generated__/ChannelCreate_friends.graphql.ts
  client/src/__generated__/FriendsQuery.graphql.ts
  client/src/components/pages/ChannelCreate.tsx
  client/src/components/pages/SearchUser.tsx
  client/src/components/uis/GiftedChat.tsx
Labels: 🍗 enhancement, 🛠 bugfix

#392 Fix GraphQL Subscription Issue
  client/.env.sample
  client/src/__generated__/MainStackNavigatorChannelQuery.graphql.ts
  client/src/__generated__/MainStackNavigatorOnMessageSubscription.graphql.ts
  client/src/__generated__/MessageCreateMutation.graphql.ts
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/pages/MainChannel.tsx
  client/src/components/pages/Message.tsx
  client/src/relay/queries/Message.tsx
  client/src/relay/updaters.tsx
Labels: 🛠 bugfix

#393 Bugfix/web image upload
  client/package.json
  client/src/apis/upload.ts
  client/src/components/pages/ProfileUpdate.tsx
  client/src/components/pages/SignUp.tsx
  client/tsconfig.json
  server/README.md
  server/package.json
Labels: :spider_web: web, 🍗 enhancement, 🛠 bugfix

#394 Use redis storage for graphql subscription
  README.md
  client/README.md
  client/src/components/navigations/MainStackNavigator/index.tsx
  server/package.json
  server/src/context.ts
  server/yarn.lock
Labels: ☁️ server, 🍗 enhancement

#391 Fix findpw exception handling
  client/assets/langs/en.json
  client/assets/langs/ko.json
  client/src/components/pages/FindPw.tsx
  server/src/resolvers/User/mutation.ts
Labels: 🛠 bugfix

#395 Navigate to Channel on Notification Response
  client/package.json
  client/schema.graphql
  client/src/__generated__/ChannelQuery.graphql.ts
  client/src/components/navigations/MainStackNavigator/ProfileModal.tsx
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/navigations/RootStackNavigator.tsx
  client/src/components/pages/ChannelCreate.tsx
  client/src/components/pages/MainChannel.tsx
  client/src/components/pages/Message.tsx
  client/src/components/pages/__tests__/Message.test.tsx
  client/src/components/uis/GiftedChat.tsx
  client/src/relay/queries/Channel.tsx
  client/src/types/graphql.tsx
  client/test/testUtils.tsx
  server/src/resolvers/User/subscription.ts
  server/tests/queries/User.ts
  server/tests/resolvers/user.test.ts
Labels: ⌚️ regression, 🛠 bugfix

#396 Expo publish workflow
  .github/workflows/expo-publish.yml
Labels: 💨 ci, 🚚 deploy

#397 Show only peer user when only two users are in [Message]
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/pages/Message.tsx
Labels: 🍗 enhancement, 📱 client

#398 Handle app loading more seamlessly
  client/src/App.tsx
  client/src/components/navigations/AuthStackNavigator.tsx
  client/src/components/navigations/MainStackNavigator/index.tsx
  client/src/components/navigations/RootStackNavigator.tsx
  client/src/components/pages/BlockedUser.tsx
  client/src/components/pages/ChannelCreate.tsx
  client/src/components/pages/MainChannel.tsx
  client/src/components/pages/MainFriend.tsx
  client/src/components/pages/Message.tsx
  client/src/components/pages/SearchUser.tsx
  client/src/components/pages/VerifyEmail.tsx
  client/src/components/uis/CustomLoadingIndicator.tsx
  client/src/components/uis/__tests__/CustomLoadingIndicator.test.tsx
  client/src/hooks/useTimeout.tsx
Labels: 🍗 enhancement, 📱 client

#399 Fix message paginating order
  client/src/__generated__/MessageComponent_message.graphql.ts
  client/src/__generated__/MessagePaginationQuery.graphql.ts
  client/src/__generated__/MessagesQuery.graphql.ts
  client/src/__generated__/UserFindPwMutation.graphql.ts
  client/src/components/pages/Message.tsx
  client/src/relay/queries/Message.tsx
Labels: 📱 client, 🔥 hotfix

#401 Customize loading view and attempt to fix android splash screen
  client/app.config.ts
  client/package.json
  client/src/App.tsx
  client/src/components/pages/__tests__/Message.test.tsx
  client/src/components/uis/CustomLoadingIndicator.tsx
Labels: 🍗 enhancement, 📱 client

#402 [Hotfix] Android splash screen
  client/app.config.ts
  client/package.json
Labels: 📘 release, 📱 client, 🤖 android
